@charset "utf-8";

/* 모바일 ~ 큰태블릿 */
@media screen and (min-width: 320px) and (max-width: 1024px) {
  /* 공통 */
  .con {
    width: 95%;
  }
  /* 헤더 */
  .header {
    width: 100%;
  }
  .head_wrap {
    width: 95%;
    margin: 0 20px;
  }
  .head_left {
    gap: 0;
  }
  .all_menu {
    width: 160px;
  }
  .all_menu > .login {
    width: 136px;
  }
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-44%);
  }
  #gnb {
    display: none;
  }
  .head_right a {
    padding: 8px 8px;
    margin-right: 18px;
  }
  .head_right p {
    display: none;
  }
  /* 메인이미지 */
  .sec1 {
    height: 300px;
    padding: 0 20px;
  }
  .sec1 > h2 {
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    width: 260px;
    margin-top: 40px;
  }
  /* 검색영역 */
  .search_wrap {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .btn_wrap {
    height: 28px;
  }
  .btn_wrap > button {
    font-size: 14px;
  }
  /* 날짜 인원 */
  .info_wrap {
    height: fit-content;
    gap: 0;
    flex-direction: column;
  }
  /* 검색창 */
  .search_bar {
    width: 100%;
  }
  .search_bar > input {
    font-size: 13px;
    height: 32px;
  }
  .search_bar > a {
    width: 32px;
    height: 32px;
  }
  /* 두번째 섹션 */
  .sec2 {
    padding-bottom: 50px;
  }
  .sec2 > .con > h3 {
    font-size: 20px;
  }
  .sec2 .card {
    height: 240px;
  }
  .sec2 .card > a > .card_window {
    height: 130px;
  }
  /* 카드 텍스트 */
  .card_text {
    height: 100%;
  }
  .text_top {
    font-size: 12px;
    line-height: 16px;
  }
  .card button {
    top: 140px;
  }
  .card_text h3 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
  }
  .card_text h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .text_bottom {
    font-size: 12px;
  }
  .text_bottom > span:first-child {
    width: 42px;
    height: 20px;
    line-height: 20px;
  }
  /* 스와이퍼 화살표 */
  .swiper2-prev,
  .swiper2-next {
    display: none;
  }
  /* 더보기 */
  .more {
    visibility: visible;
  }
  /* 세번째 섹션 */
  .sec3 {
    padding: 50px 0px 90px;
  }
  .sec3_swiper {
    height: 200px;
  }
  .banner > a {
    padding: 8px 24px;
  }
  .banner_wrap h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }
  .banner_wrap p {
    font-size: 14px;
    line-height: 36px;
  }
  /* 네번째 섹션 */
  .sec4 > h3 {
    font-size: 20px;
  }
  .sec4 .rec_card {
    height: 80px;
  }
  .sec4 .rec_card.swiper-slide-active {
    height: 100px;
  }
  .rec_wrap a {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 20px;
  }
  /* 다섯번째 섹션 */
  .sec5 > h3 {
    font-size: 20px;
  }
  .sec5 > p {
    font-size: 14px;
  }
  .con_wrap {
    height: 190px;
  }
  .box_wrap {
    height: 190px;
  }
  .box_wrap > .box {
    width: 180px;
    height: 100px;
  }
  .box_wrap > .box > a {
    padding: 8px 16px;
  }
  .box_wrap > .box > a > h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .box_wrap > .box > a > p {
    font-size: 13px;
    bottom: -14px;
  }
  .box_wrap > .box > a:hover > h3 {
    transform: translateY(-30px);
  }
  .box_wrap > .box > a:hover > p {
    transform: translateY(-30px);
  }
  /* 여섯번째 섹션 */
  .swiper6-prev,
  .swiper6-next {
    display: none;
  }
  /* 일곱번째 섹션 */
  .sec7 > .con > h3 {
    font-size: 20px;
  }
  .img_wrap > div {
    width: 340px;
    height: 250px;
  }
  .img_wrap > div a {
    padding: 24px 34px;
  }
  .img_wrap > div h3 {
    font-size: 20px;
    line-height: 36px;
  }
  .img_wrap > div p {
    font-size: 14px;
    line-height: 20px;
  }
  /* 푸터 */
  .foot_top {
    height: fit-content;
    padding: 8px;
  }
  .foot_top > ul {
    flex-direction: column;
    gap: 8px;
    line-height: 24px;
    margin: 8px 0;
  }
  /* footer bottom */
  .foot_bottom {
    width: 95%;
    padding: 50px 8px;
    flex-direction: column;
  }
  .left {
    gap: 16px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .center {
    margin: 0 auto;
  }
  .right {
    margin: 0 auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  /* 네번째 섹션 */
  .rec_wrap a {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 40px;
  }
  .sec4 .rec_card {
    height: 140px;
  }
  .sec4 .rec_card.swiper-slide-active {
    height: 180px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* 메인이미지 */
  .sec1 {
    height: 450px;
    padding: 40px 100px;
  }
  .sec1 > h2 {
    font-size: 20px;
    line-height: 28px;
    width: 100%;
  }
  /* 검색영역 */
  .search_wrap {
    width: 400px;
    margin-bottom: 20px;
  }
  .btn_wrap {
    height: 32px;
  }
  .btn_wrap > button {
    font-size: 14px;
  }
  /* 날짜 인원 */
  .info_wrap {
    height: fit-content;
    flex-direction: column;
  }
  /* 검색창 */
  .search_bar {
    width: 100%;
  }
  .search_bar > input {
    font-size: 14px;
    height: 32px;
  }
  .search_bar > a {
    width: 32px;
    height: 32px;
  }
  /* 네번째 섹션 */
  .sec4 .rec_card {
    height: 200px;
  }
  .sec4 .rec_card.swiper-slide-active {
    height: 240px;
  }
  .rec_wrap a {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 섹션2 - 스와이퍼 화살표 */
  .swiper2-prev,
  .swiper2-next {
    display: none;
  }
  .more {
    visibility: visible;
  }
}
/* 네번째 섹션 */
/* .sec4 .rec_card {
  height: 280px;
}
.sec4 .rec_card.swiper-slide-active {
  height: 340px;
}
.rec_wrap a {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 60px;
} */
/* 여섯번째 섹션 */
.swiper6-prev,
.swiper6-next {
  display: none;
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
}
