@charset "utf-8";

@media screen and (min-width: 320px) and (max-width: 1439px) {
  /* 공통 */
  .con {
    width: 95%;
  }
  /* 헤더 */
  .header {
    width: 100%;
  }
  .head_wrap {
    width: 95%;
    margin: 0 20px;
  }
  .head_left {
    gap: 0;
  }
  .all_menu {
    width: 160px;
  }
  .all_menu > .login {
    width: 136px;
  }
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-44%);
  }
  .head_right a {
    padding: 8px 8px;
    margin-right: 18px;
  }
  .head_right p {
    display: none;
  }
  header .info_wrap {
    display: none;
  }
  .info_wrap {
    width: 100%;
    justify-content: center;
  }
  .search {
    width: 100px;
  }
  .date_picker {
    width: 60px;
  }
  /* 컨텐츠 */
  .con {
    flex-direction: column;
  }
  .responsive_search {
    display: flex;
  }
  .left_con {
    display: none;
  }
  .result > h2 {
    font-size: 20px;
  }
  /* 카드영역 */
  .card_wrap {
    width: fit-content;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .top_card {
    height: fit-content;
    border: none;
  }
  .card {
    width: fit-content;
    height: fit-content;
  }
  .card > a {
    display: flex;
    flex-direction: column;
  }
  .card > a > img {
    width: 292px;
  }
  .text_wrap {
    width: fit-content;
    height: 219px;
    flex-direction: column;
  }
  /* 푸터 */
  .foot_top {
    height: fit-content;
    padding: 8px;
  }
  .foot_top > ul {
    flex-direction: column;
    gap: 8px;
    line-height: 24px;
    margin: 8px 0;
  }
  /* footer bottom */
  .foot_bottom {
    width: 95%;
    padding: 50px 8px;
    flex-direction: column;
  }
  .left {
    gap: 16px;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
  .left > .left_wrap {
    margin: 0 auto;
  }
  .center {
    margin: 0 auto;
  }
  .right {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .search {
    width: 140px;
  }
  .date_picker {
    width: 100px;
  }
  .top_card {
    height: fit-content;
  }
  .top_card > .card {
    width: 612px;
    height: 280px;
  }
  .top_card > .card > a {
    flex-direction: row;
  }
  .top_card > .card > a .text_wrap {
    width: 100%;
    /* flex-direction: row; */
  }
  /* 푸터 */
  .foot_top {
    padding: 8px 20px;
  }
  .foot_top > ul {
    flex-direction: row;
    gap: 50px;
  }
  /* footer bottom */
  .foot_bottom {
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .left {
    flex-wrap: wrap;
    margin-bottom: 28px;
  }
  .center {
    margin: 0;
  }
  .right {
    margin: 0;
  }
}
@media screen and (min-width: 779px) and (max-width: 1439px) {
  .foot_bottom {
    width: 779px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .search {
    width: 180px;
  }
  .date_picker {
    width: 120px;
  }
  .left_con {
    display: block;
    margin-top: 56px;
  }
  .responsive_chip {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .responsive_chip {
    display: none;
  }
}
