@import url(../reset.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 999;
}
.head_wrap {
  width: calc(100% - 160px);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_left {
  display: flex;
  gap: 140px;
}
.head_left > button {
  width: 48px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.head_left > button:hover .all_menu {
  display: flex;
}
.all_menu {
  display: none;
  flex-direction: column;
  width: 240px;
  height: fit-content;
  background-color: #fff;
  position: absolute;
  top: 80px;
  left: 0;
  text-align: start;
  font-size: 18px;
  box-sizing: border-box;
  padding: 12px 12px 0px 12px;
  border-radius: 0 0 5px 0;
}

.all_menu > li > a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 22px 8px;
  font-size: 14px;
  border-top: 1px solid #ededed;
}
.all_menu > li:hover > a {
  color: #8744ff;
}
.all_menu > .login {
  display: block;
  width: 216px;
  height: 40px;
  background-color: #8744ff;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  display: block;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 80px;
}
#gnb {
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -332px;
}
#gnb > ul {
  display: flex;
  gap: 60px;
  font-size: var(--sec-p-size);
}
#gnb > ul a {
  display: block;
  height: 80px;
  padding: 0 24px;
  transition: 0.2s;
}
#gnb > ul > li:nth-child(3) > a {
  color: #8744ff;
}
#gnb > ul a:hover {
  color: var(--main-color);
}
.head_right > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: var(--sec-p-size);
  padding: 16px 24px;
}
/* 메인이미지 */
.sec1 {
  width: 100%;
  height: 600px;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.45) 15%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../../img/sub/activity/activity_main.jpg) no-repeat;
  background-size: cover;
  background-position: center left;
  box-sizing: border-box;
  padding: 95px 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.sec1 > h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 60px;
}
.sec1 > p {
  font-size: 28px;
  font-weight: 300;
  line-height: 48px;
}
/* 컨텐츠 */
.con {
  width: 1400px;
  height: fit-content;
  padding-top: 28px;
  margin: 0 auto;
}
.con_wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.left_con {
  width: 300px;
  height: 100%;
  margin-right: 40px;
}
.map_view {
  padding-bottom: 28px;
  border-bottom: 1px solid #ededed;
}
.map_view > h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 28px;
}

.map_view button {
  width: fit-content;
  height: fit-content;
  color: #8744ff;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
}
.map_view > .map > button > img {
  width: 16px;
}
.map_view > .map > button > span {
  font-size: 14px;
}
.theme {
  width: 100%;
}
.theme > h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 28px 0;
}
.theme_wrap {
  width: 100%;
  display: flex;
}
.theme_wrap button {
  width: fit-content;
  height: fit-content;
  color: #8744ff;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
}
.theme_wrap > div {
  width: 150px;
  box-sizing: border-box;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
/* 오른쪽 컨텐츠 */
.right_con {
  padding: 28px 0;
  width: 100%;
  height: fit-content;
}
.result {
  width: 100%;
  height: auto;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
}
.result > h2 {
  font-size: var(--sec-title-size2);
  font-weight: 500;
  line-height: 28px;
}
.list_btn > button {
  width: 120px;
  height: 28px;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  background-color: #ededed;
  position: relative;
}
.list_btn > button > img {
  width: 16px;
  height: 16px;
}
.list_btn > button > .btn_list {
  position: absolute;
  background-color: #ededed;
  width: 120px;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 30px;
  left: 0;
  display: none;
  z-index: 10;
}
.list_btn > button:hover > .btn_list {
  display: flex;
}
.list_btn > button > .btn_list > li:hover {
  color: #8744ff;
}
.list_btn > button > .btn_list > li:first-child {
  font-weight: 700;
}
/* 카드 */
.card_con {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.card_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.card {
  width: 335px;
  height: 470px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.card:hover {
  box-shadow: 0 3px 13px 0px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}
.card:hover > .card_text > a > .text_bottom > span:first-child {
  background-color: #8744ff;
  color: #fff;
}
.card > a {
  display: block;
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.card > a > img {
  width: 100%;
  position: relative;
  bottom: 70%;
}
/* 카드 텍스트 */
.card_text {
  width: 100%;
  height: 230px;
}
.card_text > a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 36px 24px;
  color: var(--main-black-color);
}
.text_top {
  font-size: var(--sec-p-size);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.text_top > button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.text_top > button > img {
  width: 22px;
  height: 20px;
  align-items: center;
  background-color: #fff;
}
.card_text > a > h3 {
  font-size: var(--sec-title-size2);
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 36px;
}
.card_text > a > h2 {
  font-size: var(--sec-title-size);
  font-weight: 500;
  line-height: 48px;
}
.text_bottom {
  color: #8744ff;
  display: flex;
  gap: 8px;
  align-items: center;
}
.text_bottom > span:first-child {
  display: block;
  width: 50px;
  height: 29px;
  line-height: 29px;
  border-radius: 5px;
  text-align: center;
  transition: 0.2s;
}
/* 페이지 번호 */
.button_num {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 60px 0;
  gap: 20px;
}
.button_num > button {
  background-color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.button_num img {
  width: 18px;
  height: 18px;
}
.button_num a {
  display: block;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
}
.button_num a:first-of-type {
  font-weight: 700;
}
.button_num > button:first-child > img {
  opacity: 0.3;
}
/* 푸터 */
footer {
  width: 100%;
  font-size: 14px;
  color: #999;
}
/* footer top */
.foot_top {
  width: 1400px;
  height: 60px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin: 0 auto;
}
.foot_top > ul {
  display: flex;
  gap: 50px;
  line-height: 60px;
  font-weight: 500;
}
.foot_top > ul > li > a {
  color: #999;
}
.foot_top > ul > li:nth-child(2) > a {
  color: #333;
}
/* footer bottom */
.foot_bottom {
  width: 1400px;
  padding: 50px 0;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left > p {
  line-height: 20px;
}
.center {
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.center > .center_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.center > .center_top > h3 {
  color: #404040;
  font-size: var(--sec-p-size);
  font-weight: 500;
}
.center > .center_top > h2 {
  font-size: 24px;
  color: #333;
  font-weight: 600;
}
.center > p {
  color: #808080;
  margin-bottom: 20px;
  line-height: 20px;
}
.center > a {
  display: block;
  color: #404040;
  font-size: var(--sec-p-size);
  font-weight: 600;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}
.right {
  width: fit-content;
  height: 166px;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f6f6;
  border-radius: 15px;
}
.right > h3 {
  font-size: var(--sec-p-size);
  color: #3e3e3e;
  font-weight: 500;
  line-height: 30px;
}
.num_wrap {
  display: flex;
  width: 100%;
}
.num {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0px 16px;
}
.num:first-child {
  border-right: 1px solid #bfbfbf;
}
.num_wrap p {
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
.num_wrap h3 {
  color: #323232;
  font-size: var(--sec-p-size);
  line-height: 24px;
  font-weight: 600;
}
