@charset "utf-8";

@media screen and (min-width: 320px) and (max-width: 1439px) {
  /* 공통 */
  .con {
    width: 95%;
  }
  /* 헤더 */
  .header {
    width: 100%;
  }
  .head_wrap {
    width: 95%;
    margin: 0 20px;
  }
  .head_left {
    gap: 0;
  }
  .all_menu {
    width: 160px;
  }
  .all_menu > .login {
    width: 136px;
  }
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-44%);
  }
  #gnb {
    display: none;
  }
  .head_right a {
    padding: 8px 8px;
    margin-right: 18px;
  }
  .head_right p {
    display: none;
  }
  /* 메인이미지 */
  .sec1 {
    height: 300px;
    padding: 0 20px;
    background-position: center;
  }
  .sec1 > h2 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .sec1 > p {
    font-size: 12px;
    line-height: 22px;
  }
  /* 컨텐츠 */
  .left_con {
    display: none;
  }
  .result > h2 {
    font-size: 20px;
  }
  .card_con {
    width: fit-content;
    margin: 0 auto;
  }
  .card_wrap {
    flex-direction: column;
    gap: 28px;
  }
  .card {
    width: 292px;
  }
  /* 푸터 */
  .foot_top {
    height: fit-content;
    padding: 8px;
  }
  .foot_top > ul {
    flex-direction: column;
    gap: 8px;
    line-height: 24px;
    margin: 8px 0;
  }
  /* footer bottom */
  .foot_bottom {
    width: 95%;
    padding: 50px 8px;
    flex-direction: column;
  }
  .left {
    gap: 16px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .center {
    margin: 0 auto;
  }
  .right {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .sec1 {
    height: 450px;
    padding: 40px 120px;
  }
  .sec1 > h2 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .sec1 > p {
    font-size: 20px;
    line-height: 30px;
  }
  .card_wrap {
    flex-direction: row;
  }
}
@media screen and (min-width: 1441px) {
  .left_con {
    display: block;
  }
  .card {
    width: 335px;
  }
}
