@charset "utf-8";
@media screen and (min-width: 320px) and (max-width: 399px) {
  .con {
    width: 95%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1439px) {
  /* 헤더 */
  .header {
    width: 100%;
  }
  .head_wrap {
    width: 95%;
    margin: 0 20px;
  }
  .head_left {
    gap: 0;
  }
  .all_menu {
    width: 160px;
  }
  .all_menu > .login {
    width: 136px;
  }
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-44%);
  }
  #gnb {
    display: none;
  }
  .head_right a {
    padding: 8px 8px;
    margin-right: 18px;
  }
  .head_right p {
    display: none;
  }
}
